<div class="bg-[#F4F4F4] py-40">
  <div class="text-center">
    <h1 class="font-serif text-5xl font-bold text-black mx-auto w-fit">
      仏教みつけ
    </h1>
  </div>

  <div class="flex justify-center mt-10 space-x-4">
    <%= link_to "#", class: "bg-[#E3A83A] text-white font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#cc972f] transition" do %>
      みんなの投稿
    <% end %>

    <%= link_to new_user_registration_path, class: "bg-white border border-[#E3A83A] text-[#E3A83A] font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#fff6e0] transition" do %>
      ユーザー登録
    <% end %>
  </div>
</div>