<div class="text-center mt-10">
  <h1 class="font-kaisei text-6xl font-bold text-black mt-10 mx-auto w-fit">
    仏教みつけ
  </h1>

  <%= link_to "#", class: "block bg-[#E3A83A] text-white font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#cc972f] transition mx-auto mt-6 w-fit" do %>
    みんなの投稿
  <% end %>
</div>