
<div class="pb-5">
<div class="flex items-center space-x-2 w-full">
  <%= f.search_field :theme_title_or_content_cont,
        placeholder: "フリーワード検索",
        class: "flex-1 bg-white border border-gray-300 rounded px-2 py-1.5 text-sm" %>

  <%= f.submit "検索",
        class: "shrink-0 bg-[#E3A83A] text-white text-sm font-medium px-3 py-1.5 rounded hover:bg-[#d9982e] transition" %>

</div>
</div>
