
  <p class="text-base md:text-xl font-medium text-center text-[#2F3A4A]"><%= post.theme.title%></p>
  <p class="mt-5 text-sm md:text-base whitespace-pre-line text-[#2F3A4A]"><%= post.theme.description %></p>
