<% content_for(:title, t('.title')) %>

<div class="bg-[#F4F4F4] min-h-screen px-5 md:px-0 max-w-[480px] md:max-w-7xl">
<P class="text-center pt-10">※リンクをクリックすると楽天ブックスへ移動します</p>
  <div class="max-w-xl mx-auto pt-10 space-y-4">
    <% @books.each do |book| %>
    <div class="bg-white shadow-sm rounded-lg p-5 border border-gray-100 hover:shadow-md transition">
      
      <div class="flex justify-center mb-5">
        <%= link_to book['itemUrl'], target: "_blank", class: "block" do %>
          <%= image_tag book['mediumImageUrl'], 
                class: "w-32 h-auto rounded-md shadow-sm hover:shadow-md transition" %>
        <% end %>
      </div>

      <div class="text-center px-2">
        <%= link_to book['itemUrl'], target: "_blank",
              class: "text-base font-semibold text-[#2F3A4A] hover:text-[#E3A83A] transition leading-tight block" do %>
          <%= book['title'] %>
        <% end %>
      </div>

    </div>
  <% end %>

  </div>
</div>