<div class="bg-[#F4F4F4] min-h-screen">
  <div class="max-w-xl mx-auto pt-30">
    <div class="mt-2 bg-white p-6 rounded-md shadow">
      <div class="font-mdium px space-y-2">
        <p><%= @user.name %> さん</p>
        <p>=====なんやかんや実装ゾーン=====</p>
      </div>
      <div class="flex justify-center mt-10 space-x-4">
        <%= link_to "仏教をみつける", "#", class: "bg-[#E3A83A] text-white font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#cc972f] transition" %>
      </div>
    </div>

    <div class="font-semibold text-xl text-center text-[#2F3A4A] pt-20">
      みつけた仏教一覧
    </div>
  </div>
</div>