<%= link_to reaction_path(current_user.reactions.find_by(post_id: post.id)),
            id: "reaction-button-for-post-#{post.id}",
            data: { turbo_method: :delete },
            class: "flex items-center space-x-1" do %>

  <%= image_tag "reaction2.png", class: "w-6 h-6" %>
  <span class="text-xm text-gray-400 font-medium"><%= post.reactions.size %></span>

<% end %>