@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Shippori+Mincho+B1&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Shippori Mincho", serif;
  --font-kaisei: "Kaisei Tokumin", serif;
}
