@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');
@import "tailwindcss";


@theme {
  --font-serif: "Shippori Mincho", serif;
  --font-sans: "IBM Plex Sans JP", sans-serif;
}

.simple-calendar table {
  @apply w-full border-collapse text-center;
}

.simple-calendar th {
  @apply py-2 text-sm text-gray-600 font-medium border-b border-gray-300;
}

.simple-calendar td {
  @apply align-top;
}
